.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  gap: 10px;
}

.slideshow-wrapper {
  width: 65%;
}

.slide-container {
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-wrapper {
  display: flex;
  width: 70%;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  gap: 20px;
}

.article-left {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 10px;
}

.article-left img {
  max-width: 100%;
}

.article-right {
  width: 75%;
  align-self: flex-start;
}

.article-right img {
  max-width: 100%;
}

.link-card {
  display: flex;
  align-items: center;
  height: 140px;
  text-align: center;
  text-transform: uppercase;
  justify-content: stretch;
}

.grey-card {
  background-color: #c7c9dc;
  color: #00539f;
}

.blue-card {
  background-color: #00539f;
  color: #ffffff;
}

.black-card {
  background-color: black;
  color: #ffffff;
}

.link-card img {
  margin-left: 10px;
  margin-top: 15px;
  height: 50px;
  width: 50px;
}

.box-button {
  height: 100%;
  color: #fff;
  width: 15%;
  background: url("https://www.motorpointarenanottingham.com/ArticleMedia/Images/assets/arrow_white.png")
    50% 50% no-repeat #f58220;
  background-size: contain;
}

.link-text {
  text-align: center;
  width: 70%;
}

.link-text h3 {
  font-size: 1.2rem;
}

#whats-on {
  background: url("https://www.motorpointarenanottingham.com/ArticleMedia/Images/assets/whats-on-button-image-blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  text-transform: uppercase;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#whats-on h2 {
  font-size: 2rem;
  color: #00539f;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.event-card {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.event-card img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#event-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00539f;
  color: #ffffff;
  padding: 8px;
}

#event-card-info h6 {
  max-width: 70%;
}

@media only screen and (max-width: 1280px) {
  .slideshow-wrapper {
    width: 80%;
  }

  .article-wrapper {
    width: 90%;
  }

  #event-card-info h6 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 820px) {
  .slideshow-wrapper {
    width: 90%;
  }

  .article-wrapper {
    width: 90%;
  }

  #event-card-info h6 {
    font-size: 0.9rem;
  }

  .article-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .article-left,
  .article-right {
    align-self: center;
    width: 100%;
  }

  #event-card-info h6 {
    flex: 0 0 100%;
  }

  .event-card {
    width: 49%;
  }

  .link-text {
    width: 82%;
  }

  .box-button {
    width: 10%;
  }
}

@media only screen and (max-width: 390px) {
  #whats-on {
    height: 100px;
  }

  #whats-on h2 {
    font-size: 1.5rem;
  }

  .event-card {
    width: 100%;
  }
}
